.container {
  display: flex;
  max-width: 1225px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.link {
  color: #8585AD;
}

.active {
  color: #fff;
}

.ordersBlock {
  display: flex;
  flex-direction: column;
}